body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px
}

h1,
h2,
h3 {
  line-height: 1.2
}

.card {
  width: 100px;
}

.card {
  margin: 10px;
}

.error-message {
  color: rgba(255, 0, 0, 0.5);
  outline: 1px solid rgba(255, 0, 0, 0.5);
}
